# Posttest KB 2: Analisis Dataset Categorical
### Import library pandas dan numpy

pd.read_csv() untuk mengimport dataset file CSV ke pandas dataframe

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("googleplaystore.csv")

### Ketentuan 1 Analisis Dataset
*Informasi yang didapatkan*

df.shape[] : fungsi untuk menampilkan ukuran baris(record) atau kolom(atribut) dari suatu dataframe <br>
df.columns : fungsi untuk menampilkan nama-nama atribut atau kolom pada dataframe <br>
df.select_dtypes() : fungsi untuk mengembalikan dataframe baru yang menyertakan kolom dari tipe yang ditentukan <br>
include = object : untuk memilih semua tipe object <br>
include = np.number : untuk memilih semua tipe numerik/angka <br>
df.isna().any() : untuk memeriksa apakah ada atribut yang memiliki nilai null <br>
df.loc : untuk menyeleksi data pada lokasi tertentu

In [2]:
record = df.shape[0]
atribut = df.columns
objek = df.select_dtypes(include=object).columns
angka = df.select_dtypes(include=np.number).columns
Null = df.loc[:, df.isna().any()].columns

### Ketentuan 2 Analisis Dataset
*Memasukkan informasi yang didapatkan ke dictionary dan menampilkannya*

mengakses dictionary dengan perulangan for
len() : fungsi untuk mengembalikan nilai panjang (jumlah anggota) dari suatu objek

In [4]:
info = {
    'jumlah_record' : record,
    'nama_atribut' : atribut,
    'atribut_object' : objek,
    'atribut_angka' : angka,
    'atribut_null' : Null
}

print("""
================================================
        A N A L I S I S   D A T A S E T
================================================""")
print("Jumlah Record \t\t\t\t:", info['jumlah_record'])

print("================================================")
print("Jumlah Atribut \t\t\t\t:", len(info['nama_atribut']))
print("================================================")
print("------------------------")
print("  No\t| Nama Atribut")
print("------------------------")
for i in range (len(info['nama_atribut'])):
    print(" ", i, "\t|", info['nama_atribut'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Objek \t:", len(info['atribut_object']))
print("================================================")
print("-------------------------------")
print("  No\t| Atribut Tipe Object")
print("-------------------------------")
for i in range (len(info['atribut_object'])):
    print(" ", i, "\t|", info['atribut_object'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Angka \t:", len(info['atribut_angka']))
print("================================================")
print("------------------------------")
print("  No\t| Atribut Tipe Angka")
print("------------------------------")
for i in range (len(info['atribut_angka'])):
    print(" ", i, "\t|", info['atribut_angka'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut yang Memiliki Nilai Null :", len(info['atribut_null']))
print("================================================")
print("-------------------------------------")
print("  No\t| Atribut dengan Nilai Null")
print("-------------------------------------")
for i in range (len(info['atribut_null'])):
    print(" ", i, "\t|", info['atribut_null'][i])
    i+=1
    
print("\n================================================")

================================================
        A N A L I S I S   D A T A S E T
================================================
Jumlah Record 				: 10841
================================================
Jumlah Atribut 				: 13
================================================
------------------------
  No	| Nama Atribut
------------------------
  0 	| App
  1 	| Category
  2 	| Rating
  3 	| Reviews
  4 	| Size
  5 	| Installs
  6 	| Type
  7 	| Price
  8 	| Content Rating
  9 	| Genres
  10 	| Last Updated
  11 	| Current Ver
  12 	| Android Ver

================================================
Jumlah Atribut dengan Tipe Objek 	: 12
================================================
-------------------------------
  No	| Atribut Tipe Object
-------------------------------
  0 	| App
  1 	| Category
  2 	| Reviews
  3 	| Size
  4 	| Installs
  5 	| Type
  6 	| Price
  7 	| Content Rating
  8 	| Genres
  9 	| Last Updated
  10 	| Current Ver
  11 	| Android Ver

================================================
Jumlah Atribut dengan Tipe Angka 	: 1
================================================
------------------------------
  No	| Atribut Tipe Angka
------------------------------
  0 	| Rating

================================================
Jumlah Atribut yang Memiliki Nilai Null : 5
================================================
-------------------------------------
  No	| Atribut dengan Nilai Null
-------------------------------------
  0 	| Rating
  1 	| Type
  2 	| Content Rating
  3 	| Current Ver
  4 	| Android Ver

================================================

### Ketentuan 3 Analisis Dataset
*Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 d
ari attribute bertipe angka*

df.describe() adalah fungsi dari pandas yang digunakan untuk menampilkan statistik deskriptif dari suatu dataframe

In [5]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

### Ketentuan 4 Analisis Dataset
*Menampilkan nilai korelasi attribute bertipe angka*

df.corr() yaitu fungsi untuk mengetahui korelasi antar kolom

In [6]:
df.corr()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12464\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

        Rating
Rating     1.0

### Ketentuan 5 Analisis Dataset
*Mengubah nilai attribute bertipe angka menjadi desimal 3 angka dibelakang koma atau dari desimal menjadi bilangan bulat*

df.head(5) : untuk menampilkan 5 data awal sebagai contoh untuk membedakan dengan data yang nanti akan diubah

.astype() : fungsi untuk mengubah data menjadi tipe tertentu

In [7]:
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [8]:
df = df.fillna(0)
df.Rating = df.Rating.astype(int)
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### Ketentuan 6 Analisis Dataset
*Menampilkan 10 record pertama dari attribute bertipe angka*

In [9]:
angka = df.select_dtypes(include = np.number)
angka.head(10)

   Rating
0       4
1       3
2       4
3       4
4       4
5       4
6       3
7       4
8       4
9       4

### Ketentuan 7 Analisis Dataset
*Menyimpan dataset dengan attribute bertipe angka ke dalam file CSV*

df[angka].to_csv("Atribut_Tipe_Angka.csv") untuk memasukkan atribut yang bertipe data angka ke dalam sebuah file CSV dengan nama "Atribut_Tipe_Angka"

In [10]:
angka = df.select_dtypes(include = np.number).columns
df[angka].to_csv("Atribut_Tipe_Angka.csv")