### Nama : Al Fiana Nur Priyanti <br> NIM : 2109106022

# Posttest KB 8: Deep Learning
## Import Library

In [33]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

## Membaca dataset

In [34]:
df = pd.read_csv("Breast_Cancer_Bersih.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015 entries, 0 to 4014
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              4015 non-null   int64
 1   Age                     4015 non-null   int64
 2   Race                    4015 non-null   object
 3   Marital Status          4015 non-null   object
 4   T Stage                 4015 non-null   object
 5   N Stage                 4015 non-null   object
 6   6th Stage               4015 non-null   object
 7   differentiate           4015 non-null   object
 8   Grade                   4015 non-null   object
 9   A Stage                 4015 non-null   object
 10  Tumor Size              4015 non-null   float64
 11  Estrogen Status         4015 non-null   object
 12  Progesterone Status     4015 non-null   object
 13  Regional Node Examined  4015 non-null   int64
 14  Reginol Node Positive   4015 non-null   int64
 15  Survival Months         4015 non-null   float64
 16  Status                  4015 non-null   object
dtypes: float64(2), int64(4), object(11)
memory usage: 533.4+ KB

In [35]:
df.head()

,Unnamed: 0,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4.000000,Positive,Positive,24,1,60.0,Alive
1,1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35.000000,Positive,Positive,14,5,62.0,Alive
2,2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,30.584862,Positive,Positive,14,7,75.0,Alive
3,3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,30.584862,Positive,Positive,2,1,84.0,Alive
4,4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41.000000,Positive,Positive,3,1,73.0,Alive

## Melihat apakah ada nilai null atau nilai duplikat

In [36]:
# Cek Nilai NULL
df.isna().sum()

Unnamed: 0                0
Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

In [37]:
# Cek Nilai Duplikat
df.duplicated().sum()

0

## Encoding Data Objek dengan Ordinal Encoder

In [38]:
encoder = OrdinalEncoder()
df["Race"] = encoder.fit_transform(df[["Race"]])
df["Marital_Status"] = encoder.fit_transform(df[["Marital Status"]])
df["N_Stage"] = encoder.fit_transform(df[["N Stage"]])
df["6th_Stage"] = encoder.fit_transform(df[["6th Stage"]])
df["differentiate"] = encoder.fit_transform(df[["differentiate"]])
df["Grade"] = encoder.fit_transform(df[["Grade"]])
df["A_Stage"] = encoder.fit_transform(df[["A Stage"]])
df["Estrogen_Status"] = encoder.fit_transform(df[["Estrogen Status"]])
df["Progesterone_Status"] = encoder.fit_transform(df[["Progesterone Status"]])
df["Status"] = encoder.fit_transform(df[["Status"]])

## Data Splitting

In [39]:
X = df[['Age', 'Race', 'Marital_Status', 
        'N_Stage', '6th_Stage', 'differentiate', 'Grade', 
        'A_Stage', 'Tumor Size', 'Estrogen_Status', 'Progesterone_Status', 
        'Regional Node Examined', 'Reginol Node Positive',  'Survival Months']]
Y = df['Status']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

# Menampilkan Dimensi
print("Dimensi X_Train: ", X_train.shape)
print("Dimensi X_Test: ", X_test.shape)
print("Dimensi Y_Train: ", Y_train.shape)
print("Dimensi Y_Test: ", Y_test.shape)

Dimensi X_Train:  (2810, 14)
Dimensi X_Test:  (1205, 14)
Dimensi Y_Train:  (2810,)
Dimensi Y_Test:  (1205,)

## Encoding Label

In [40]:
num_class = 2

y_train = tf.keras.utils.to_categorical(Y_train, num_class)
y_test = tf.keras.utils.to_categorical(Y_test, num_class)

## Membuat DNN 
Terdiri dari 2 layers dengan aktivasi RELU

In [41]:
model = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(64, activation='relu', input_dim = 14),
        tf.keras.layers.Dense(32, activation='relu'),
        tf.keras.layers.Dense(2, activation='softmax')
    ]
)
model.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 64)                960

 dense_28 (Dense)            (None, 32)                2080

 dense_29 (Dense)            (None, 2)                 66

=================================================================
Total params: 3,106
Trainable params: 3,106
Non-trainable params: 0
_________________________________________________________________

# Optimisasi model

In [42]:
model.compile(optimizer='sgd', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

## Fitting Training Model

In [43]:
model.fit(X_train, y_train, epochs = 10, validation_data = (X_test, y_test))

Epoch 1/10
88/88 [==============================] - 1s 4ms/step - loss: 0.4685 - accuracy: 0.8641 - val_loss: 0.3079 - val_accuracy: 0.8871
Epoch 2/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3252 - accuracy: 0.8861 - val_loss: 0.2876 - val_accuracy: 0.8971
Epoch 3/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3125 - accuracy: 0.8893 - val_loss: 0.2970 - val_accuracy: 0.8954
Epoch 4/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3114 - accuracy: 0.8854 - val_loss: 0.2874 - val_accuracy: 0.9004
Epoch 5/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3095 - accuracy: 0.8872 - val_loss: 0.2806 - val_accuracy: 0.8988
Epoch 6/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3094 - accuracy: 0.8900 - val_loss: 0.2897 - val_accuracy: 0.9012
Epoch 7/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3091 - accuracy: 0.8900 - val_loss: 0.2810 - val_accuracy: 0.8979
Epoch 8/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3070 - accuracy: 0.8886 - val_loss: 0.3085 - val_accuracy: 0.8938
Epoch 9/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3075 - accuracy: 0.8890 - val_loss: 0.2810 - val_accuracy: 0.9012
Epoch 10/10
88/88 [==============================] - 0s 2ms/step - loss: 0.3026 - accuracy: 0.8929 - val_loss: 0.2804 - val_accuracy: 0.8996

## Evaluasi Model yang Telah di Training

In [44]:
score_testing = model.evaluate(X_test, y_test)
score_training = model.evaluate(X_train, y_train)

print("""----------------------------------------
            SCORE TESTING                
----------------------------------------""")
print(" TEST LOSS        : ", score_testing[0])
print(" TEST ACCURACY    : ", score_testing[1])
print("""----------------------------------------
            SCORE TRAINING                
----------------------------------------""")
print(" TEST LOSS        : ", score_training[0])
print(" TEST ACCURACY    : ", score_training[1])
print("----------------------------------------")

38/38 [==============================] - 0s 1ms/step - loss: 0.2804 - accuracy: 0.8996
88/88 [==============================] - 0s 1ms/step - loss: 0.3030 - accuracy: 0.8900
----------------------------------------
            SCORE TESTING
----------------------------------------
 TEST LOSS        :  0.2803877592086792
 TEST ACCURACY    :  0.8995850682258606
----------------------------------------
            SCORE TRAINING
----------------------------------------
 TEST LOSS        :  0.3029893636703491
 TEST ACCURACY    :  0.8900355696678162
----------------------------------------

## Saving Model

In [45]:
model.save('model_dataset')

INFO:tensorflow:Assets written to: model_dataset\assets